<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">


	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="File" fileName="Team1GroupProjectLog.log" bufferedIO="true"
			advertiseURI="file://output.log" advertise="true">
			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>

	</Appenders>

	<Loggers>

		<Logger name="LogTest.class" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="LogTest.class" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>
		
		<Logger name="ApplicationInitializer.class" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="WebAppConfig.class" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="CityController.class" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="CityJPACRUD.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="Forest.class" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="Farm.class" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="Mine.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="BuildingManager.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceBuilding.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="Building.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ClientCommand.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="CommandInvoker.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="SetNumberOfWorkersCommand.class" level="trace"
			additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="City.class" level="info"
			additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="Resource.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceFactory.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="ResourceStorageFactory.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="ResourceStorageHandler.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="ResourceStorageHandler.class" level="info" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="City.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="CityService.class" level="trace" additivity="false">
			<AppenderRef ref="File" />
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>
