<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">


	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>

	<Loggers>

		<!-- Config Loggers -->

		<Logger name="WebAppConfig.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ApplicationInitializer.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Controller Loggers -->

		<Logger name="SingleplayerController.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="SingleplayerController.class" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="SingleplayerController.class" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="HomeController.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="HomeController.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- CRUD Loggers -->

		<Logger name="CityJPACRUD.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- City Loggers -->

		<Logger name="City.class" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="CityFactory.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="City.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Command Loggers -->
		
		<Logger name="UpdateWeatherCommand.class" level="trace"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdatePopulationCommand.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdatePopulationCommand.class" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdateResourcesCommand.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="SetNumberOfWorkersInBuildingFromCityCommand.class"
			level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="SetNumberOfWorkersInBuildingFromCityCommand.class"
			level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ClientCommand.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ClientCommand.class" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="CommandInvoker.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="SetNumberOfWorkersCommand.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="AdminCommand.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="SetAmmountOfLumberPerWoodCommand.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="SetBaseResourceProductionCommand.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="SetUpgradeMultiplierCommand.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<!-- Handlers Loggers -->
		
			<Logger name="URLStringHandler.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="LumberMillAdminHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="LumberMillAdminHandler.class" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceProducerAdminHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="NormalWeatherHandler.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="GoodWeatherHandler.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="BadWeatherHandler.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="FarmStringHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ForestStringHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="LumberMillStringHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="MineStringHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceProducerClassFromStringHandler.class"
			level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdateFoodHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdateGoldHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdateLumberHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdateResourcesHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="UpdateWoodHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- Resources -->

		<Logger name="Resource.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceFactory.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceStorageFactory.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceStorageHandler.class" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceStorageHandler.class" level="info"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- ResourceProducers -->

		<Logger name="Forest.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="Farm.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="Mine.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="ResourceProducer.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="ResourceProducerFactory.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		
		<Logger name="ResourceProducerService.class" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>
</Configuration>
